Final Deliverables/Node-RED Flows.json
[{"id":"7d168e746d81ae32","type":"tab","label":"UI Control","disabled":false,"info":""},{"id":"dadc2d89.a365f","type":"tab","label":"Controls","disabled":false,"info":""},{"id":"a0f4487eef764d99","type":"tab","label":"Simulator Data","disabled":false,"info":"","env":[]},{"id":"2a5dc8a253307eb7","type":"tab","label":"Open Weather API","disabled":false,"info":""},{"id":"0f0b7b5f0cc0842c","type":"tab","label":"Sign Up & Login","disabled":false,"info":"","env":[]},{"id":"57b044a2be4ad380","type":"ui_group","name":"Welcome","tab":"5e5879a71a036746","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5e5879a71a036746","type":"ui_tab","name":"Smart Farmer Application","icon":"dashboard","disabled":false,"hidden":false},{"id":"80bedd8657d1e7d7","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"44d8ecd69d736f87","type":"ui_group","name":"Simulator","tab":"80bedd8657d1e7d7","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"42acbd2282058653","type":"ui_group","name":"Controls","tab":"80bedd8657d1e7d7","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8ca81fe1acdac197","type":"ui_group","name":"Open Weather","tab":"80bedd8657d1e7d7","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"33c22001e26fce19","type":"ui_group","name":"Main Menu","tab":"80bedd8657d1e7d7","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3cb1592f77260e5c","type":"ui_tab","name":"Simulator Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"853ec5d94e81b471","type":"ui_group","name":"Home Button","tab":"3cb1592f77260e5c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2f65bd2f018e4abd","type":"ui_tab","name":"Controls","icon":"dashboard","disabled":false,"hidden":false},{"id":"ffe59448957f8fe3","type":"ui_group","name":"Temperature Data","tab":"3cb1592f77260e5c","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"03d072160d56f0af","type":"ui_group","name":"Moisture Data","tab":"3cb1592f77260e5c","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f3979768e9897c5a","type":"ui_group","name":"Humidity Data","tab":"3cb1592f77260e5c","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d144049ed26a3b44","type":"ui_tab","name":"Motor & Light Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"96042439790ac8c1","type":"ui_group","name":"Motor Controls","tab":"2f65bd2f018e4abd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"604694580fd66519","type":"ui_group","name":"Light Controls","tab":"2f65bd2f018e4abd","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"236d5a55bae1daa8","type":"ui_group","name":"Sign Up","tab":"5e5879a71a036746","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6face7c39bb8950d","type":"ui_group","name":"Login","tab":"5e5879a71a036746","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e1b6d250187e9a7a","type":"ui_group","name":"Home Button","tab":"e65aa10811d3a39a","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"c0c79b3d0c78858d","type":"ui_group","name":"Home Button","tab":"2f65bd2f018e4abd","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"acc842be3381672c","type":"ui_tab","name":"Sign Up","icon":"dashboard","disabled":false,"hidden":false},{"id":"3a0e3758ea4895bf","type":"ui_group","name":"Sign Up","tab":"acc842be3381672c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"63e6078bafd49e86","type":"ui_tab","name":"Login","icon":"dashboard","disabled":false,"hidden":false},{"id":"cb87d7c69dd0af87","type":"ui_group","name":"Login","tab":"63e6078bafd49e86","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e65aa10811d3a39a","type":"ui_tab","name":"Open Weather API","icon":"dashboard","disabled":false,"hidden":false},{"id":"65356636c0728718","type":"ui_group","name":"Temperature ","tab":"e65aa10811d3a39a","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5114572809e49839","type":"ui_group","name":"Pressure","tab":"e65aa10811d3a39a","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a7708d9acf3b2d5b","type":"ui_group","name":"Location","tab":"e65aa10811d3a39a","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"84ee918a1e0b7f01","type":"ui_group","name":"Humidity","tab":"e65aa10811d3a39a","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5bbe23b4a83411d5","type":"ui_group","name":"Weather ","tab":"5e5879a71a036746","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"69483552f4dfdac9","type":"ui_group","name":"Wind Speed","tab":"e65aa10811d3a39a","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"57ec9a2cd54093e8","type":"ui_group","name":"Cloud","tab":"e65aa10811d3a39a","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"05c7409b39861ff4","type":"ui_group","name":"Wind Direction","tab":"e65aa10811d3a39a","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d381df799ea338e1","type":"ui_group","name":"Weather Description","tab":"e65aa10811d3a39a","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d21cfd0c6efb04b6","type":"ui_group","name":"weather","tab":"e65aa10811d3a39a","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"28b0b0f9bdf74448","type":"ibmiot","name":"Weather","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ec575808b24908b0","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6220981d03d66deb","type":"ibmiot","name":"Device_2","keepalive":"60","serverName":"0lsrz8.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"0cde4e7df12e7014","type":"ui_group","name":"Motor","tab":"07f2fb6b720f8132","order":2,"disp":true,"width":"6","collapse":false},{"id":"f5a757150f54aec0","type":"ui_group","name":"Light","tab":"07f2fb6b720f8132","order":2,"disp":true,"width":"6","collapse":false},{"id":"07f2fb6b720f8132","type":"ui_tab","name":"Button","icon":"mi-videogame_asset","order":5,"disabled":false,"hidden":false},{"id":"27e1945afe908576","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":400,"y":80,"wires":[[]]},{"id":"f015050d2e27ef2f","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"57b044a2be4ad380","order":1,"width":6,"height":"1","passthru":false,"label":" <font size=5>ENTER","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":140,"y":80,"wires":[["27e1945afe908576"]]},{"id":"3b0f9cb94a8b73c1","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":400,"y":260,"wires":[[]]},{"id":"7f5a1625d6cec16a","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"44d8ecd69d736f87","order":1,"width":6,"height":4,"passthru":false,"label":" <font size=5>Simulator  Data","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"2","payloadType":"num","topic":"","topicType":"str","x":160,"y":260,"wires":[["3b0f9cb94a8b73c1"]]},{"id":"d214a5ea36f61078","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"8ca81fe1acdac197","order":1,"width":6,"height":4,"passthru":false,"label":" <font size=5>Open Weather Data","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"6","payloadType":"num","topic":"","topicType":"str","x":180,"y":380,"wires":[["9009a4c62b543889"]]},{"id":"83b23727d33d2ae9","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"42acbd2282058653","order":1,"width":6,"height":4,"passthru":false,"label":" <font size=5>Motor & Light Control","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"3","payloadType":"num","topic":"","topicType":"str","x":180,"y":320,"wires":[["fd33c942084c5f97"]]},{"id":"62a46750661c18e6","type":"ui_button","z":"7d168e746d81ae32","name":"Home","group":"33c22001e26fce19","order":1,"width":0,"height":0,"passthru":false,"label":"Main Menu","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"0","payloadType":"num","topic":"","topicType":"str","x":590,"y":80,"wires":[["7a05cbe4dccf88da"]]},{"id":"7a05cbe4dccf88da","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":80,"wires":[[]]},{"id":"cddf17e3b9e9b0a2","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"236d5a55bae1daa8","order":1,"width":6,"height":"1","passthru":false,"label":" <font size=5>Sign Up","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"4","payloadType":"num","topic":"","topicType":"str","x":140,"y":140,"wires":[["e3568961bbe1d43e"]]},{"id":"c4355997c07c7eb5","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"6face7c39bb8950d","order":1,"width":6,"height":"1","passthru":false,"label":" <font size=5>Login","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"5","payloadType":"num","topic":"","topicType":"str","x":130,"y":200,"wires":[["a6c92081b47afd92"]]},{"id":"e3568961bbe1d43e","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":400,"y":140,"wires":[[]]},{"id":"a6c92081b47afd92","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":400,"y":200,"wires":[[]]},{"id":"fd33c942084c5f97","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":400,"y":320,"wires":[[]]},{"id":"9009a4c62b543889","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"change","x":400,"y":380,"wires":[[]]},{"id":"8ccd15a2411362a2","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":260,"wires":[[]]},{"id":"168069f647c0539e","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"853ec5d94e81b471","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":590,"y":260,"wires":[["8ccd15a2411362a2"]]},{"id":"6057145d7af7543a","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"c0c79b3d0c78858d","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":590,"y":320,"wires":[["0c80a642012f77ae"]]},{"id":"0c80a642012f77ae","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":320,"wires":[[]]},{"id":"bedbe3e8cdf5a88d","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":200,"wires":[[]]},{"id":"c6f39c11102a4fe6","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"3a0e3758ea4895bf","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":590,"y":200,"wires":[["bedbe3e8cdf5a88d"]]},{"id":"4f83a589c765974b","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":140,"wires":[[]]},{"id":"51d37ff24b7d84cd","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"cb87d7c69dd0af87","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":590,"y":140,"wires":[["4f83a589c765974b"]]},{"id":"58501f19b1727140","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":380,"wires":[[]]},{"id":"cb26462c5d1585cf","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"e1b6d250187e9a7a","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":590,"y":380,"wires":[["58501f19b1727140"]]},{"id":"d18c3c36.1928e","type":"ibmiot out","z":"dadc2d89.a365f","authentication":"apiKey","apiKey":"28b0b0f9bdf74448","outputType":"cmd","deviceId":"b11m3edeviceid","deviceType":"b11m3edevicetype","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"Send Device Command","service":"registered","x":530,"y":180,"wires":[]},{"id":"930dc039.5ec5a","type":"ui_button","z":"dadc2d89.a365f","name":"Motor On","group":"96042439790ac8c1","order":1,"width":3,"height":3,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"{\"command\":\"Motoron\"}","payloadType":"json","topic":"","topicType":"str","x":140,"y":180,"wires":[["d18c3c36.1928e","a17b48e0.e0dd58","30c795ab.dd7d5a","74d62360.ebabdc"]]},{"id":"4237cc02.29eb04","type":"ui_button","z":"dadc2d89.a365f","name":"","group":"96042439790ac8c1","order":2,"width":3,"height":3,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","topicType":"str","x":140,"y":220,"wires":[["d18c3c36.1928e","a17b48e0.e0dd58","8e234f0c.e9a7","74d62360.ebabdc"]]},{"id":"a17b48e0.e0dd58","type":"debug","z":"dadc2d89.a365f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":240,"wires":[]},{"id":"64c6f68f.a06f08","type":"ibmiot out","z":"dadc2d89.a365f","authentication":"apiKey","apiKey":"28b0b0f9bdf74448","outputType":"cmd","deviceId":"b11m3edeviceid","deviceType":"b11m3edevicetype","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"Send Device Command","service":"registered","x":530,"y":460,"wires":[]},{"id":"b40c887b.2fddc8","type":"ui_button","z":"dadc2d89.a365f","name":"Light On","group":"604694580fd66519","order":1,"width":3,"height":3,"passthru":false,"label":"Light ON","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"","topicType":"str","x":140,"y":420,"wires":[["64c6f68f.a06f08","f82903ec.4693d","1e7fe298.02204d","a17b48e0.e0dd58"]]},{"id":"a34746e7.775968","type":"ui_button","z":"dadc2d89.a365f","name":"","group":"604694580fd66519","order":2,"width":3,"height":3,"passthru":false,"label":"Light Off","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"","topicType":"str","x":140,"y":460,"wires":[["64c6f68f.a06f08","fd23dcd9.b4f7f","1e7fe298.02204d","a17b48e0.e0dd58"]]},{"id":"30c795ab.dd7d5a","type":"ui_toast","z":"dadc2d89.a365f","position":"top right","displayTime":"3","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"Motor ON command sent","name":"Motor On","x":480,"y":100,"wires":[]},{"id":"8e234f0c.e9a7","type":"ui_toast","z":"dadc2d89.a365f","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Motor OFF command sent","name":"Motor Off","x":480,"y":280,"wires":[]},{"id":"f82903ec.4693d","type":"ui_toast","z":"dadc2d89.a365f","position":"top right","displayTime":"3","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":true,"className":"","topic":"Light ON command sent","name":"Light On","x":480,"y":380,"wires":[]},{"id":"fd23dcd9.b4f7f","type":"ui_toast","z":"dadc2d89.a365f","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Light OFF command sent","name":"Light off","x":480,"y":560,"wires":[]},{"id":"74d62360.ebabdc","type":"ui_text","z":"dadc2d89.a365f","group":"96042439790ac8c1","order":3,"width":0,"height":0,"name":"Motor","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":470,"y":140,"wires":[]},{"id":"1e7fe298.02204d","type":"ui_text","z":"dadc2d89.a365f","group":"604694580fd66519","order":3,"width":0,"height":0,"name":"Light","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":470,"y":420,"wires":[]},{"id":"80db49068f0eba01","type":"http in","z":"dadc2d89.a365f","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":150,"y":320,"wires":[["a17b48e0.e0dd58","d18c3c36.1928e","599da93648670769","64c6f68f.a06f08"]]},{"id":"491cbfecaf82a8c4","type":"http response","z":"dadc2d89.a365f","name":"","statusCode":"","headers":{},"x":650,"y":320,"wires":[]},{"id":"599da93648670769","type":"function","z":"dadc2d89.a365f","name":"command function node","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":320,"wires":[["491cbfecaf82a8c4"]]},{"id":"cbf0d9ddc0f3c6e9","type":"ibmiot in","z":"a0f4487eef764d99","authentication":"apiKey","apiKey":"28b0b0f9bdf74448","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"b11m3edeviceid","applicationId":"","deviceType":"b11m3edevicetype","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":60,"wires":[["25b89b8157a9c036","2bafc3f0ea95230b","5b2af0bd10c66d92","92dcf1467d2e5087"]]},{"id":"25b89b8157a9c036","type":"debug","z":"a0f4487eef764d99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":60,"wires":[]},{"id":"2bafc3f0ea95230b","type":"function","z":"a0f4487eef764d99","name":"Temperature Data","func":"msg.payload=msg.payload.Temperature\nglobal.set(\"t\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[["27287ecf677be36a","908027060ec54938"]]},{"id":"27287ecf677be36a","type":"ui_gauge","z":"a0f4487eef764d99","name":"","group":"ffe59448957f8fe3","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature Gauge","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":600,"y":100,"wires":[]},{"id":"b870cafb3c4daba5","type":"http in","z":"a0f4487eef764d99","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":150,"y":380,"wires":[["662fc0e7adb5e02b"]]},{"id":"39b3f912315f6b73","type":"http response","z":"a0f4487eef764d99","name":"","statusCode":"","headers":{},"x":550,"y":380,"wires":[]},{"id":"662fc0e7adb5e02b","type":"function","z":"a0f4487eef764d99","name":"","func":"msg.payload={\"temp\":global.get(\"t\"),\"humid\":global.get(\"h\"),\"moist\":global.get(\"m\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":380,"wires":[["39b3f912315f6b73"]]},{"id":"908027060ec54938","type":"ui_chart","z":"a0f4487eef764d99","name":"","group":"ffe59448957f8fe3","order":1,"width":0,"height":0,"label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":590,"y":140,"wires":[[]]},{"id":"b5da14f24fec4061","type":"cloudant in","z":"a0f4487eef764d99","name":"","cloudant":"","database":"database","service":"node-red-undcc-2022--cloudant-1664892594984-15378","search":"_id_","design":"","index":"","x":320,"y":440,"wires":[["f0c166af4b8ef181","e70f62016f3cbdd9"]]},{"id":"e70f62016f3cbdd9","type":"cloudant out","z":"a0f4487eef764d99","name":"","cloudant":"","database":"database","service":"_ext_","payonly":false,"operation":"insert","x":560,"y":500,"wires":[]},{"id":"6d9ad927e0905695","type":"inject","z":"a0f4487eef764d99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"fe170c1434273d0c45b0d31af900b0fe","payloadType":"str","x":150,"y":440,"wires":[["b5da14f24fec4061"]]},{"id":"f0c166af4b8ef181","type":"debug","z":"a0f4487eef764d99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":440,"wires":[]},{"id":"5b2af0bd10c66d92","type":"function","z":"a0f4487eef764d99","name":"Moisture Data","func":"msg.payload=msg.payload.Moisture\nglobal.set(\"m\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":200,"wires":[["2efcf689e5d59830","f3750eaabffe6c26"]]},{"id":"2efcf689e5d59830","type":"ui_gauge","z":"a0f4487eef764d99","name":"","group":"03d072160d56f0af","order":2,"width":0,"height":0,"gtype":"gage","title":"Moisture Gauge","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":580,"y":180,"wires":[]},{"id":"f3750eaabffe6c26","type":"ui_chart","z":"a0f4487eef764d99","name":"","group":"03d072160d56f0af","order":1,"width":0,"height":0,"label":"Moisture Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":580,"y":220,"wires":[[]]},{"id":"92dcf1467d2e5087","type":"function","z":"a0f4487eef764d99","name":"Humdity Data","func":"msg.payload=msg.payload.Humidity\nglobal.set(\"h\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":280,"wires":[["121462e4ba64073c","f057ca31d4a48143"]]},{"id":"121462e4ba64073c","type":"ui_gauge","z":"a0f4487eef764d99","name":"","group":"f3979768e9897c5a","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity Gauge","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":580,"y":280,"wires":[]},{"id":"f057ca31d4a48143","type":"ui_chart","z":"a0f4487eef764d99","name":"","group":"f3979768e9897c5a","order":1,"width":0,"height":0,"label":"Hummidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":580,"y":320,"wires":[[]]},{"id":"d65906bf2d3d845b","type":"inject","z":"2a5dc8a253307eb7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"make request","payloadType":"str","x":200,"y":260,"wires":[["0b481bd2354cc4ff"]]},{"id":"26ca98295d2acd3b","type":"debug","z":"2a5dc8a253307eb7","name":"debugg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.location","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":80,"wires":[]},{"id":"2b8435d0dca5b893","type":"function","z":"2a5dc8a253307eb7","name":"pressure","func":"msg.payload=msg.payload.pressure;\nglobal.set(\"p\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["db669e13ee1d26a7"]]},{"id":"aedae09c514c6758","type":"function","z":"2a5dc8a253307eb7","name":"humidity","func":"msg.payload=msg.payload.humidity;\nglobal.set(\"h\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":280,"wires":[["2ac15888308ab7a4"]]},{"id":"c3f0f19227fcd9eb","type":"function","z":"2a5dc8a253307eb7","name":"location","func":"msg.payload=msg.payload.location;\nflow.set(\"l\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":240,"wires":[["77cc2c8e6b5fc7cf"]]},{"id":"07112204059c86cc","type":"function","z":"2a5dc8a253307eb7","name":"weather_description","func":"msg.payload=msg.payload.description;\nflow.set(\"des\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":320,"wires":[["1cce82547f5054df"]]},{"id":"77cc2c8e6b5fc7cf","type":"ui_text","z":"2a5dc8a253307eb7","group":"a7708d9acf3b2d5b","order":4,"width":"1","height":"1","name":"location","label":"location:","format":"{{msg.payload}}","layout":"col-center","className":"","x":700,"y":240,"wires":[]},{"id":"1cce82547f5054df","type":"ui_text","z":"2a5dc8a253307eb7","group":"d381df799ea338e1","order":5,"width":"6","height":"5","name":"weather_description","label":"weather_description","format":"{{msg.payload}}","layout":"col-center","className":"","x":740,"y":320,"wires":[]},{"id":"2ac15888308ab7a4","type":"ui_gauge","z":"2a5dc8a253307eb7","name":"","group":"84ee918a1e0b7f01","order":1,"width":"5","height":"5","gtype":"gage","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#1b00e6","#ca3838"],"seg1":"","seg2":"","className":"","x":700,"y":280,"wires":[]},{"id":"db669e13ee1d26a7","type":"ui_gauge","z":"2a5dc8a253307eb7","name":"","group":"5114572809e49839","order":2,"width":"4","height":"4","gtype":"wave","title":"pressure","label":"km/h","format":"{{value}}","min":"100","max":"1050","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":700,"y":200,"wires":[]},{"id":"f6f5b739c34f7d44","type":"http in","z":"2a5dc8a253307eb7","name":"","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":230,"y":620,"wires":[["984d770bb66c3867"]]},{"id":"52fd398be10beb0c","type":"http response","z":"2a5dc8a253307eb7","name":"","statusCode":"","headers":{},"x":640,"y":620,"wires":[]},{"id":"984d770bb66c3867","type":"function","z":"2a5dc8a253307eb7","name":"display","func":"msg.payload={\n    \"tempc\":global.get(\"t\"),\n    \"humidity\":global.get(\"h\"),\n    \"pressure\":global.get(\"p\"),\n    \"location\":flow.get(\"l\"),\n    \"weathers\":flow.get(\"wr\"),\n    \"windspeed\":global.get(\"ws\"),\n    \"clouds\":global.get(\"cd\"),\n    \"winddirection\":global.get(\"wd\"),\n    \"weather describption\":flow.get(\"des\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":620,"wires":[["52fd398be10beb0c"]]},{"id":"3e58f2518772f0b1","type":"ui_gauge","z":"2a5dc8a253307eb7","name":"","group":"69483552f4dfdac9","order":1,"width":"5","height":"4","gtype":"compass","title":"Wind Speed","label":"KM/h","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":710,"y":360,"wires":[]},{"id":"81428e44caa7b737","type":"function","z":"2a5dc8a253307eb7","name":"Wind Speed","func":"msg.payload=msg.payload.windspeed;\nglobal.set(\"ws\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["3e58f2518772f0b1"]]},{"id":"0b481bd2354cc4ff","type":"openweathermap","z":"2a5dc8a253307eb7","name":"Open weather API","wtype":"current","lon":"","lat":"","city":"Trichy","country":"India","language":"en","x":190,"y":340,"wires":[["0fb3b65e643bdc49","bd7e5cd3a4a0da7e","26ca98295d2acd3b","2b8435d0dca5b893","c3f0f19227fcd9eb","aedae09c514c6758","07112204059c86cc","81428e44caa7b737","ea546e5b7a35ffbc","f8d443e1da6f462e","0b259e6b0d94afa8","209c317dc6f657c3","95f6b382482a77a2"]]},{"id":"bd7e5cd3a4a0da7e","type":"debug","z":"2a5dc8a253307eb7","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.describtion","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":40,"wires":[]},{"id":"0fb3b65e643bdc49","type":"debug","z":"2a5dc8a253307eb7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":120,"wires":[]},{"id":"ea546e5b7a35ffbc","type":"function","z":"2a5dc8a253307eb7","name":"clouds","func":"msg.payload=msg.payload.clouds;\nglobal.set(\"cd\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":400,"wires":[["59e98f3ad4e2f881"]]},{"id":"f8d443e1da6f462e","type":"function","z":"2a5dc8a253307eb7","name":"winddirection","func":"msg.payload=msg.payload.winddirection;\nglobal.set(\"wd\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":440,"wires":[["0de9de76127f7b74"]]},{"id":"0de9de76127f7b74","type":"ui_gauge","z":"2a5dc8a253307eb7","name":"","group":"05c7409b39861ff4","order":8,"width":0,"height":0,"gtype":"compass","title":"winddirection","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":710,"y":440,"wires":[]},{"id":"209c317dc6f657c3","type":"debug","z":"2a5dc8a253307eb7","name":"cloud","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.clouds","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":520,"wires":[]},{"id":"0b259e6b0d94afa8","type":"debug","z":"2a5dc8a253307eb7","name":"wdsd","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.winddirection","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":480,"wires":[]},{"id":"59e98f3ad4e2f881","type":"ui_gauge","z":"2a5dc8a253307eb7","name":"","group":"57ec9a2cd54093e8","order":7,"width":"6","height":"3","gtype":"donut","title":"Cloud gauge","label":"oktas","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":710,"y":400,"wires":[]},{"id":"95f6b382482a77a2","type":"function","z":"2a5dc8a253307eb7","name":"temperature","func":"msg.payload=msg.payload.tempc;\nglobal.set(\"t\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":160,"wires":[["1bd0390e089d667a"]]},{"id":"1bd0390e089d667a","type":"ui_gauge","z":"2a5dc8a253307eb7","name":"","group":"65356636c0728718","order":3,"width":"4","height":"5","gtype":"gage","title":"temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#008000","#0703e2","#ff8000"],"seg1":"","seg2":"","className":"","x":710,"y":160,"wires":[]},{"id":"a896ba2cf582e318","type":"http in","z":"0f0b7b5f0cc0842c","name":"","url":"/signup","method":"get","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[["24ec07ef21c1a885"]]},{"id":"41adc95dee0f9642","type":"debug","z":"0f0b7b5f0cc0842c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"24ec07ef21c1a885","type":"ui_form","z":"0f0b7b5f0cc0842c","name":"","label":"Sign Up","group":"3a0e3758ea4895bf","order":5,"width":0,"height":0,"options":[{"label":"User Name","value":"User Name","type":"text","required":true,"rows":null},{"label":"E-mail","value":"E-mail","type":"email","required":true,"rows":null},{"label":"Date of Birth","value":"Date of Birth","type":"date","required":true,"rows":null},{"label":"Password","value":"Password","type":"password","required":true,"rows":null},{"label":"Phone Number","value":"Phone Number","type":"text","required":true,"rows":null}],"formValue":{"User Name":"","E-mail":"","Date of Birth":"","Password":"","Phone Number":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":320,"y":60,"wires":[["41adc95dee0f9642"]]},{"id":"054ae417377a164f","type":"ui_form","z":"0f0b7b5f0cc0842c","name":"","label":"Login","group":"cb87d7c69dd0af87","order":1,"width":0,"height":0,"options":[{"label":"E-Mail","value":"E-Mail","type":"email","required":true,"rows":null},{"label":"Mobile Number","value":"Mobile Number","type":"number","required":true,"rows":null},{"label":"Password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"E-Mail":"","Mobile Number":"","Password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":310,"y":120,"wires":[["fa6cad386954de8a"]]},{"id":"3a103c26c1883cf7","type":"http in","z":"0f0b7b5f0cc0842c","name":"","url":"/Login","method":"get","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["054ae417377a164f"]]},{"id":"fa6cad386954de8a","type":"debug","z":"0f0b7b5f0cc0842c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]}]