Project Development Phase/Sprint 4/Node-RED Flows/Motor and Light Control.json
[{"id":"dadc2d89.a365f","type":"tab","label":"Controls","disabled":false,"info":""},{"id":"d18c3c36.1928e","type":"ibmiot out","z":"dadc2d89.a365f","authentication":"apiKey","apiKey":"28b0b0f9bdf74448","outputType":"cmd","deviceId":"b11m3edeviceid","deviceType":"b11m3edevicetype","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"Send Device Command","service":"registered","x":530,"y":180,"wires":[]},{"id":"930dc039.5ec5a","type":"ui_button","z":"dadc2d89.a365f","name":"Motor On","group":"96042439790ac8c1","order":1,"width":3,"height":3,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"{\"command\":\"Motoron\"}","payloadType":"json","topic":"","topicType":"str","x":140,"y":180,"wires":[["d18c3c36.1928e","a17b48e0.e0dd58","30c795ab.dd7d5a","74d62360.ebabdc"]]},{"id":"4237cc02.29eb04","type":"ui_button","z":"dadc2d89.a365f","name":"","group":"96042439790ac8c1","order":2,"width":3,"height":3,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","topicType":"str","x":140,"y":220,"wires":[["d18c3c36.1928e","a17b48e0.e0dd58","8e234f0c.e9a7","74d62360.ebabdc"]]},{"id":"a17b48e0.e0dd58","type":"debug","z":"dadc2d89.a365f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":240,"wires":[]},{"id":"64c6f68f.a06f08","type":"ibmiot out","z":"dadc2d89.a365f","authentication":"apiKey","apiKey":"28b0b0f9bdf74448","outputType":"cmd","deviceId":"b11m3edeviceid","deviceType":"b11m3edevicetype","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"Send Device Command","service":"registered","x":530,"y":460,"wires":[]},{"id":"b40c887b.2fddc8","type":"ui_button","z":"dadc2d89.a365f","name":"Light On","group":"604694580fd66519","order":1,"width":3,"height":3,"passthru":false,"label":"Light ON","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"","topicType":"str","x":140,"y":420,"wires":[["64c6f68f.a06f08","f82903ec.4693d","1e7fe298.02204d","a17b48e0.e0dd58"]]},{"id":"a34746e7.775968","type":"ui_button","z":"dadc2d89.a365f","name":"","group":"604694580fd66519","order":2,"width":3,"height":3,"passthru":false,"label":"Light Off","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"","topicType":"str","x":140,"y":460,"wires":[["64c6f68f.a06f08","fd23dcd9.b4f7f","1e7fe298.02204d","a17b48e0.e0dd58"]]},{"id":"30c795ab.dd7d5a","type":"ui_toast","z":"dadc2d89.a365f","position":"top right","displayTime":"3","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"Motor ON command sent","name":"Motor On","x":480,"y":100,"wires":[]},{"id":"8e234f0c.e9a7","type":"ui_toast","z":"dadc2d89.a365f","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Motor OFF command sent","name":"Motor Off","x":480,"y":280,"wires":[]},{"id":"f82903ec.4693d","type":"ui_toast","z":"dadc2d89.a365f","position":"top right","displayTime":"3","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":true,"className":"","topic":"Light ON command sent","name":"Light On","x":480,"y":380,"wires":[]},{"id":"fd23dcd9.b4f7f","type":"ui_toast","z":"dadc2d89.a365f","position":"top right","displayTime":"3","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Light OFF command sent","name":"Light off","x":480,"y":560,"wires":[]},{"id":"74d62360.ebabdc","type":"ui_text","z":"dadc2d89.a365f","group":"96042439790ac8c1","order":3,"width":0,"height":0,"name":"Motor","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":470,"y":140,"wires":[]},{"id":"1e7fe298.02204d","type":"ui_text","z":"dadc2d89.a365f","group":"604694580fd66519","order":3,"width":0,"height":0,"name":"Light","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":470,"y":420,"wires":[]},{"id":"80db49068f0eba01","type":"http in","z":"dadc2d89.a365f","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":150,"y":320,"wires":[["a17b48e0.e0dd58","d18c3c36.1928e","599da93648670769","64c6f68f.a06f08"]]},{"id":"491cbfecaf82a8c4","type":"http response","z":"dadc2d89.a365f","name":"","statusCode":"","headers":{},"x":650,"y":320,"wires":[]},{"id":"599da93648670769","type":"function","z":"dadc2d89.a365f","name":"command function node","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":320,"wires":[["491cbfecaf82a8c4"]]},{"id":"28b0b0f9bdf74448","type":"ibmiot","name":"Weather","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"96042439790ac8c1","type":"ui_group","name":"Motor Controls","tab":"2f65bd2f018e4abd","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"604694580fd66519","type":"ui_group","name":"Light Controls","tab":"2f65bd2f018e4abd","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2f65bd2f018e4abd","type":"ui_tab","name":"Controls","icon":"dashboard","disabled":false,"hidden":false}]