Project Development Phase/Sprint 4/Node-RED Flows/Open Weather API.json
[{"id":"2a5dc8a253307eb7","type":"tab","label":"Open Weather API","disabled":false,"info":""},{"id":"d65906bf2d3d845b","type":"inject","z":"2a5dc8a253307eb7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"make request","payloadType":"str","x":190,"y":260,"wires":[["0b481bd2354cc4ff"]]},{"id":"26ca98295d2acd3b","type":"debug","z":"2a5dc8a253307eb7","name":"debugg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.location","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":80,"wires":[]},{"id":"2b8435d0dca5b893","type":"function","z":"2a5dc8a253307eb7","name":"pressure","func":"msg.payload=msg.payload.pressure;\nglobal.set(\"p\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["db669e13ee1d26a7"]]},{"id":"aedae09c514c6758","type":"function","z":"2a5dc8a253307eb7","name":"humidity","func":"msg.payload=msg.payload.humidity;\nglobal.set(\"h\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":280,"wires":[["2ac15888308ab7a4"]]},{"id":"c3f0f19227fcd9eb","type":"function","z":"2a5dc8a253307eb7","name":"location","func":"msg.payload=msg.payload.location;\nflow.set(\"l\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":240,"wires":[["77cc2c8e6b5fc7cf"]]},{"id":"07112204059c86cc","type":"function","z":"2a5dc8a253307eb7","name":"weather_description","func":"msg.payload=msg.payload.description;\nflow.set(\"des\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":320,"wires":[["1cce82547f5054df"]]},{"id":"77cc2c8e6b5fc7cf","type":"ui_text","z":"2a5dc8a253307eb7","group":"a7708d9acf3b2d5b","order":4,"width":"1","height":"1","name":"location","label":"location:","format":"{{msg.payload}}","layout":"col-center","className":"","x":700,"y":240,"wires":[]},{"id":"1cce82547f5054df","type":"ui_text","z":"2a5dc8a253307eb7","group":"d381df799ea338e1","order":5,"width":"6","height":"5","name":"weather_description","label":"weather_description","format":"{{msg.payload}}","layout":"col-center","className":"","x":740,"y":320,"wires":[]},{"id":"2ac15888308ab7a4","type":"ui_gauge","z":"2a5dc8a253307eb7","name":"","group":"84ee918a1e0b7f01","order":1,"width":"5","height":"5","gtype":"gage","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#1b00e6","#ca3838"],"seg1":"","seg2":"","className":"","x":700,"y":280,"wires":[]},{"id":"db669e13ee1d26a7","type":"ui_gauge","z":"2a5dc8a253307eb7","name":"","group":"5114572809e49839","order":2,"width":"4","height":"4","gtype":"wave","title":"pressure","label":"km/h","format":"{{value}}","min":"100","max":"1050","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":700,"y":200,"wires":[]},{"id":"f6f5b739c34f7d44","type":"http in","z":"2a5dc8a253307eb7","name":"","url":"/api","method":"get","upload":false,"swaggerDoc":"","x":230,"y":620,"wires":[["984d770bb66c3867"]]},{"id":"52fd398be10beb0c","type":"http response","z":"2a5dc8a253307eb7","name":"","statusCode":"","headers":{},"x":640,"y":620,"wires":[]},{"id":"984d770bb66c3867","type":"function","z":"2a5dc8a253307eb7","name":"display","func":"msg.payload={\n    \"tempc\":global.get(\"t\"),\n    \"humidity\":global.get(\"h\"),\n    \"pressure\":global.get(\"p\"),\n    \"location\":flow.get(\"l\"),\n    \"weathers\":flow.get(\"wr\"),\n    \"windspeed\":global.get(\"ws\"),\n    \"clouds\":global.get(\"cd\"),\n    \"winddirection\":global.get(\"wd\"),\n    \"weather describption\":flow.get(\"des\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":620,"wires":[["52fd398be10beb0c"]]},{"id":"3e58f2518772f0b1","type":"ui_gauge","z":"2a5dc8a253307eb7","name":"","group":"69483552f4dfdac9","order":1,"width":"5","height":"4","gtype":"compass","title":"Wind Speed","label":"KM/h","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":710,"y":360,"wires":[]},{"id":"81428e44caa7b737","type":"function","z":"2a5dc8a253307eb7","name":"Wind Speed","func":"msg.payload=msg.payload.windspeed;\nglobal.set(\"ws\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":360,"wires":[["3e58f2518772f0b1"]]},{"id":"0b481bd2354cc4ff","type":"openweathermap","z":"2a5dc8a253307eb7","name":"Open weather API","wtype":"current","lon":"","lat":"","city":"Trichy","country":"India","language":"en","x":190,"y":340,"wires":[["0fb3b65e643bdc49","bd7e5cd3a4a0da7e","26ca98295d2acd3b","2b8435d0dca5b893","c3f0f19227fcd9eb","aedae09c514c6758","07112204059c86cc","81428e44caa7b737","ea546e5b7a35ffbc","f8d443e1da6f462e","0b259e6b0d94afa8","209c317dc6f657c3","95f6b382482a77a2"]]},{"id":"bd7e5cd3a4a0da7e","type":"debug","z":"2a5dc8a253307eb7","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.describtion","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":40,"wires":[]},{"id":"0fb3b65e643bdc49","type":"debug","z":"2a5dc8a253307eb7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":120,"wires":[]},{"id":"ea546e5b7a35ffbc","type":"function","z":"2a5dc8a253307eb7","name":"clouds","func":"msg.payload=msg.payload.clouds;\nglobal.set(\"cd\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":400,"wires":[["59e98f3ad4e2f881"]]},{"id":"f8d443e1da6f462e","type":"function","z":"2a5dc8a253307eb7","name":"winddirection","func":"msg.payload=msg.payload.winddirection;\nglobal.set(\"wd\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":440,"wires":[["0de9de76127f7b74"]]},{"id":"0de9de76127f7b74","type":"ui_gauge","z":"2a5dc8a253307eb7","name":"","group":"05c7409b39861ff4","order":8,"width":0,"height":0,"gtype":"compass","title":"winddirection","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":710,"y":440,"wires":[]},{"id":"209c317dc6f657c3","type":"debug","z":"2a5dc8a253307eb7","name":"cloud","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.clouds","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":520,"wires":[]},{"id":"0b259e6b0d94afa8","type":"debug","z":"2a5dc8a253307eb7","name":"wdsd","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.winddirection","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":480,"wires":[]},{"id":"59e98f3ad4e2f881","type":"ui_gauge","z":"2a5dc8a253307eb7","name":"","group":"57ec9a2cd54093e8","order":7,"width":"6","height":"3","gtype":"donut","title":"Cloud gauge","label":"oktas","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":710,"y":400,"wires":[]},{"id":"95f6b382482a77a2","type":"function","z":"2a5dc8a253307eb7","name":"temperature","func":"msg.payload=msg.payload.tempc;\nglobal.set(\"t\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":160,"wires":[["1bd0390e089d667a"]]},{"id":"1bd0390e089d667a","type":"ui_gauge","z":"2a5dc8a253307eb7","name":"","group":"65356636c0728718","order":3,"width":"4","height":"5","gtype":"gage","title":"temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#008000","#0703e2","#ff8000"],"seg1":"","seg2":"","className":"","x":710,"y":160,"wires":[]},{"id":"a7708d9acf3b2d5b","type":"ui_group","name":"Location","tab":"e65aa10811d3a39a","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d381df799ea338e1","type":"ui_group","name":"Weather Description","tab":"e65aa10811d3a39a","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"84ee918a1e0b7f01","type":"ui_group","name":"Humidity","tab":"e65aa10811d3a39a","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5114572809e49839","type":"ui_group","name":"Pressure","tab":"e65aa10811d3a39a","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"69483552f4dfdac9","type":"ui_group","name":"Wind Speed","tab":"e65aa10811d3a39a","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"05c7409b39861ff4","type":"ui_group","name":"Wind Direction","tab":"e65aa10811d3a39a","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"57ec9a2cd54093e8","type":"ui_group","name":"Cloud","tab":"e65aa10811d3a39a","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"65356636c0728718","type":"ui_group","name":"Temperature ","tab":"e65aa10811d3a39a","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e65aa10811d3a39a","type":"ui_tab","name":"Open Weather API","icon":"dashboard","disabled":false,"hidden":false}]