Project Development Phase/Sprint 4/Node-RED Flows/Signup and Login.json
[{"id":"0f0b7b5f0cc0842c","type":"tab","label":"Sign Up & Login","disabled":false,"info":"","env":[]},{"id":"a896ba2cf582e318","type":"http in","z":"0f0b7b5f0cc0842c","name":"","url":"/signup","method":"get","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[["24ec07ef21c1a885"]]},{"id":"41adc95dee0f9642","type":"debug","z":"0f0b7b5f0cc0842c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"24ec07ef21c1a885","type":"ui_form","z":"0f0b7b5f0cc0842c","name":"","label":"Sign Up","group":"3a0e3758ea4895bf","order":5,"width":0,"height":0,"options":[{"label":"User Name","value":"User Name","type":"text","required":true,"rows":null},{"label":"E-mail","value":"E-mail","type":"email","required":true,"rows":null},{"label":"Date of Birth","value":"Date of Birth","type":"date","required":true,"rows":null},{"label":"Password","value":"Password","type":"password","required":true,"rows":null},{"label":"Phone Number","value":"Phone Number","type":"text","required":true,"rows":null}],"formValue":{"User Name":"","E-mail":"","Date of Birth":"","Password":"","Phone Number":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":320,"y":60,"wires":[["41adc95dee0f9642"]]},{"id":"054ae417377a164f","type":"ui_form","z":"0f0b7b5f0cc0842c","name":"","label":"Login","group":"cb87d7c69dd0af87","order":1,"width":0,"height":0,"options":[{"label":"E-Mail","value":"E-Mail","type":"email","required":true,"rows":null},{"label":"Mobile Number","value":"Mobile Number","type":"number","required":true,"rows":null},{"label":"Password","value":"Password","type":"password","required":true,"rows":null}],"formValue":{"E-Mail":"","Mobile Number":"","Password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":310,"y":120,"wires":[["fa6cad386954de8a"]]},{"id":"3a103c26c1883cf7","type":"http in","z":"0f0b7b5f0cc0842c","name":"","url":"/Login","method":"get","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["054ae417377a164f"]]},{"id":"fa6cad386954de8a","type":"debug","z":"0f0b7b5f0cc0842c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"3a0e3758ea4895bf","type":"ui_group","name":"Sign Up","tab":"acc842be3381672c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cb87d7c69dd0af87","type":"ui_group","name":"Login","tab":"63e6078bafd49e86","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"acc842be3381672c","type":"ui_tab","name":"Sign Up","icon":"dashboard","disabled":false,"hidden":false},{"id":"63e6078bafd49e86","type":"ui_tab","name":"Login","icon":"dashboard","disabled":false,"hidden":false}]