Project Development Phase/Sprint 4/Node-RED Flows/Simulator Data.json
[{"id":"a0f4487eef764d99","type":"tab","label":"Simulator Data","disabled":false,"info":"","env":[]},{"id":"cbf0d9ddc0f3c6e9","type":"ibmiot in","z":"a0f4487eef764d99","authentication":"apiKey","apiKey":"28b0b0f9bdf74448","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"b11m3edeviceid","applicationId":"","deviceType":"b11m3edevicetype","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":60,"wires":[["25b89b8157a9c036","2bafc3f0ea95230b","5b2af0bd10c66d92","92dcf1467d2e5087"]]},{"id":"25b89b8157a9c036","type":"debug","z":"a0f4487eef764d99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":60,"wires":[]},{"id":"2bafc3f0ea95230b","type":"function","z":"a0f4487eef764d99","name":"Temperature Data","func":"msg.payload=msg.payload.Temperature\nglobal.set(\"t\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[["27287ecf677be36a","908027060ec54938"]]},{"id":"27287ecf677be36a","type":"ui_gauge","z":"a0f4487eef764d99","name":"","group":"ffe59448957f8fe3","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature Gauge","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":600,"y":100,"wires":[]},{"id":"b870cafb3c4daba5","type":"http in","z":"a0f4487eef764d99","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":150,"y":380,"wires":[["662fc0e7adb5e02b"]]},{"id":"39b3f912315f6b73","type":"http response","z":"a0f4487eef764d99","name":"","statusCode":"","headers":{},"x":550,"y":380,"wires":[]},{"id":"662fc0e7adb5e02b","type":"function","z":"a0f4487eef764d99","name":"","func":"msg.payload={\"temp\":global.get(\"t\"),\"humid\":global.get(\"h\"),\"moist\":global.get(\"m\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":380,"wires":[["39b3f912315f6b73"]]},{"id":"908027060ec54938","type":"ui_chart","z":"a0f4487eef764d99","name":"","group":"ffe59448957f8fe3","order":1,"width":0,"height":0,"label":"Temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":590,"y":140,"wires":[[]]},{"id":"b5da14f24fec4061","type":"cloudant in","z":"a0f4487eef764d99","name":"","cloudant":"","database":"database","service":"node-red-undcc-2022--cloudant-1664892594984-15378","search":"_id_","design":"","index":"","x":320,"y":440,"wires":[["f0c166af4b8ef181","e70f62016f3cbdd9"]]},{"id":"e70f62016f3cbdd9","type":"cloudant out","z":"a0f4487eef764d99","name":"","cloudant":"","database":"database","service":"_ext_","payonly":false,"operation":"insert","x":560,"y":500,"wires":[]},{"id":"6d9ad927e0905695","type":"inject","z":"a0f4487eef764d99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"fe170c1434273d0c45b0d31af900b0fe","payloadType":"str","x":150,"y":440,"wires":[["b5da14f24fec4061"]]},{"id":"f0c166af4b8ef181","type":"debug","z":"a0f4487eef764d99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":440,"wires":[]},{"id":"5b2af0bd10c66d92","type":"function","z":"a0f4487eef764d99","name":"Moisture Data","func":"msg.payload=msg.payload.Moisture\nglobal.set(\"m\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":200,"wires":[["2efcf689e5d59830","f3750eaabffe6c26"]]},{"id":"2efcf689e5d59830","type":"ui_gauge","z":"a0f4487eef764d99","name":"","group":"03d072160d56f0af","order":2,"width":0,"height":0,"gtype":"gage","title":"Moisture Gauge","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":580,"y":180,"wires":[]},{"id":"f3750eaabffe6c26","type":"ui_chart","z":"a0f4487eef764d99","name":"","group":"03d072160d56f0af","order":1,"width":0,"height":0,"label":"Moisture Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":580,"y":220,"wires":[[]]},{"id":"92dcf1467d2e5087","type":"function","z":"a0f4487eef764d99","name":"Humdity Data","func":"msg.payload=msg.payload.Humidity\nglobal.set(\"h\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":280,"wires":[["121462e4ba64073c","f057ca31d4a48143"]]},{"id":"121462e4ba64073c","type":"ui_gauge","z":"a0f4487eef764d99","name":"","group":"f3979768e9897c5a","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity Gauge","label":"c","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":580,"y":280,"wires":[]},{"id":"f057ca31d4a48143","type":"ui_chart","z":"a0f4487eef764d99","name":"","group":"f3979768e9897c5a","order":1,"width":0,"height":0,"label":"Hummidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":580,"y":320,"wires":[[]]},{"id":"28b0b0f9bdf74448","type":"ibmiot","name":"Weather","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ffe59448957f8fe3","type":"ui_group","name":"Temperature Data","tab":"3cb1592f77260e5c","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"03d072160d56f0af","type":"ui_group","name":"Moisture Data","tab":"3cb1592f77260e5c","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f3979768e9897c5a","type":"ui_group","name":"Humidity Data","tab":"3cb1592f77260e5c","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3cb1592f77260e5c","type":"ui_tab","name":"Simulator Data","icon":"dashboard","disabled":false,"hidden":false}]