Project Development Phase/Sprint 4/Node-RED Flows/UI  Control.json
[{"id":"7d168e746d81ae32","type":"tab","label":"UI Control","disabled":false,"info":""},{"id":"27e1945afe908576","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":400,"y":80,"wires":[[]]},{"id":"f015050d2e27ef2f","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"57b044a2be4ad380","order":1,"width":6,"height":"1","passthru":false,"label":" <font size=5>ENTER","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":140,"y":80,"wires":[["27e1945afe908576"]]},{"id":"3b0f9cb94a8b73c1","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":400,"y":260,"wires":[[]]},{"id":"7f5a1625d6cec16a","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"44d8ecd69d736f87","order":1,"width":6,"height":4,"passthru":false,"label":" <font size=5>Simulator  Data","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"2","payloadType":"num","topic":"","topicType":"str","x":160,"y":260,"wires":[["3b0f9cb94a8b73c1"]]},{"id":"d214a5ea36f61078","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"8ca81fe1acdac197","order":1,"width":6,"height":4,"passthru":false,"label":" <font size=5>Open Weather Data","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"6","payloadType":"num","topic":"","topicType":"str","x":180,"y":380,"wires":[["9009a4c62b543889"]]},{"id":"83b23727d33d2ae9","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"42acbd2282058653","order":1,"width":6,"height":4,"passthru":false,"label":" <font size=5>Motor & Light Control","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"3","payloadType":"num","topic":"","topicType":"str","x":180,"y":320,"wires":[["fd33c942084c5f97"]]},{"id":"62a46750661c18e6","type":"ui_button","z":"7d168e746d81ae32","name":"Home","group":"33c22001e26fce19","order":1,"width":0,"height":0,"passthru":false,"label":"Main Menu","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"0","payloadType":"num","topic":"","topicType":"str","x":590,"y":80,"wires":[["7a05cbe4dccf88da"]]},{"id":"7a05cbe4dccf88da","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":80,"wires":[[]]},{"id":"cddf17e3b9e9b0a2","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"236d5a55bae1daa8","order":1,"width":6,"height":"1","passthru":false,"label":" <font size=5>Sign Up","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"4","payloadType":"num","topic":"","topicType":"str","x":140,"y":140,"wires":[["e3568961bbe1d43e"]]},{"id":"c4355997c07c7eb5","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"6face7c39bb8950d","order":1,"width":6,"height":"1","passthru":false,"label":" <font size=5>Login","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"5","payloadType":"num","topic":"","topicType":"str","x":130,"y":200,"wires":[["a6c92081b47afd92"]]},{"id":"e3568961bbe1d43e","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":400,"y":140,"wires":[[]]},{"id":"a6c92081b47afd92","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":400,"y":200,"wires":[[]]},{"id":"fd33c942084c5f97","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":400,"y":320,"wires":[[]]},{"id":"9009a4c62b543889","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"change","x":400,"y":380,"wires":[[]]},{"id":"8ccd15a2411362a2","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":260,"wires":[[]]},{"id":"168069f647c0539e","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"853ec5d94e81b471","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":590,"y":260,"wires":[["8ccd15a2411362a2"]]},{"id":"6057145d7af7543a","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"c0c79b3d0c78858d","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":590,"y":320,"wires":[["0c80a642012f77ae"]]},{"id":"0c80a642012f77ae","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":320,"wires":[[]]},{"id":"bedbe3e8cdf5a88d","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":200,"wires":[[]]},{"id":"c6f39c11102a4fe6","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"3a0e3758ea4895bf","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":590,"y":200,"wires":[["bedbe3e8cdf5a88d"]]},{"id":"4f83a589c765974b","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":140,"wires":[[]]},{"id":"51d37ff24b7d84cd","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"cb87d7c69dd0af87","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":590,"y":140,"wires":[["4f83a589c765974b"]]},{"id":"58501f19b1727140","type":"ui_ui_control","z":"7d168e746d81ae32","name":"","events":"all","x":740,"y":380,"wires":[[]]},{"id":"cb26462c5d1585cf","type":"ui_button","z":"7d168e746d81ae32","name":"","group":"e1b6d250187e9a7a","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"blue","className":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":590,"y":380,"wires":[["58501f19b1727140"]]},{"id":"57b044a2be4ad380","type":"ui_group","name":"Welcome","tab":"5e5879a71a036746","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"44d8ecd69d736f87","type":"ui_group","name":"Simulator","tab":"80bedd8657d1e7d7","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8ca81fe1acdac197","type":"ui_group","name":"Open Weather","tab":"80bedd8657d1e7d7","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"42acbd2282058653","type":"ui_group","name":"Controls","tab":"80bedd8657d1e7d7","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"33c22001e26fce19","type":"ui_group","name":"Main Menu","tab":"80bedd8657d1e7d7","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"236d5a55bae1daa8","type":"ui_group","name":"Sign Up","tab":"5e5879a71a036746","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6face7c39bb8950d","type":"ui_group","name":"Login","tab":"5e5879a71a036746","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"853ec5d94e81b471","type":"ui_group","name":"Home Button","tab":"3cb1592f77260e5c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c0c79b3d0c78858d","type":"ui_group","name":"Home Button","tab":"2f65bd2f018e4abd","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3a0e3758ea4895bf","type":"ui_group","name":"Sign Up","tab":"acc842be3381672c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cb87d7c69dd0af87","type":"ui_group","name":"Login","tab":"63e6078bafd49e86","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e1b6d250187e9a7a","type":"ui_group","name":"Home Button","tab":"e65aa10811d3a39a","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"5e5879a71a036746","type":"ui_tab","name":"Smart Farmer Application","icon":"dashboard","disabled":false,"hidden":false},{"id":"80bedd8657d1e7d7","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3cb1592f77260e5c","type":"ui_tab","name":"Simulator Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"2f65bd2f018e4abd","type":"ui_tab","name":"Controls","icon":"dashboard","disabled":false,"hidden":false},{"id":"acc842be3381672c","type":"ui_tab","name":"Sign Up","icon":"dashboard","disabled":false,"hidden":false},{"id":"63e6078bafd49e86","type":"ui_tab","name":"Login","icon":"dashboard","disabled":false,"hidden":false},{"id":"e65aa10811d3a39a","type":"ui_tab","name":"Open Weather API","icon":"dashboard","disabled":false,"hidden":false}]